# General
node_modules/
.vscode/
.bundle/
.watchmanconfig
.pnp.*
.pnp

# Build
android/.gradle/
android/app/build/
ios/Pods/
build/

# Logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Misc
*.keystore
*.hprof
*.DS_Store
*.tgz
*.tmp

# React Native
*.jsbundle
.expo/

# System
Thumbs.db
ehthumbs.db
Desktop.ini
